pkgbase = key-gen
	pkgdesc = Key generator.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/key-gen
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = bash
	source = key-gen-001bca86d45d99942fce79eafc4b6557a4a721c6.zip::https://github.com/themartiancompany/key-gen/archive/001bca86d45d99942fce79eafc4b6557a4a721c6.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 262447bfd2c078fb15a31c9a0a95a08af3dac74f8632dcb3935980b12729d02c

pkgname = key-gen
